@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media print {
    #simple-profile-container hr {
        display: none;
    }

    #ocultar {
        display: none;
    }

    .profile-page {
        box-shadow: none;
        /* box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px -100px;
        -webkit-box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px -100px;
        -moz-box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px -100px; */
    }
}

@media screen and (max-width: 795px) {
    hr:first-child,
    hr:last-child{
        display: none;
    }
}

.night {
    background-color: #33285e;
    /* background-color: #000; */
    color: white;
}

.day {
    background-color: #ffbd59;
    color: white;
}

.normal-mode {
    background-color: #ffffff;
    color: black;
}


#profile-options {
    user-select: none;
    opacity: 80%;
    overflow: hidden;

    cursor: pointer;
    z-index: 999;
    position: fixed;
    left: 15px;
    bottom: 15px;

    display: flex;
    align-items: center;

    padding: 10px;
    width: 140px;

    border-radius: 10px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;

    /* transition: all 0.5s ease; */
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

#profile-options .emoje {
    font-size: 1.2rem;
    position: absolute;
    right: 12px;
}

#simple-profile-container hr {
    border: none;
    margin: 10px 0;
}

.font500 {
    font-weight: 500;
}

.font600 {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

/* Definições reutilizaveis */

.profile-page {
    cursor: default;
    position: relative;
    padding: 80px;

    margin: 0 auto;

    width: 210mm;
    height: 297mm;

    min-width: 210mm;
    min-height: 297mm;


    background-color: var(--paper-color);
    box-shadow: var(--paper-shadow) 0px 0px 16px -7px;
    -webkit-box-shadow: var(--paper-shadow) 0px 0px 16px -7px;
    -moz-box-shadow: var(--paper-shadow) 0px 0px 16px -7px;
    font-family: 'Poppins', sans-serif;
}

.profile-page a {
    text-decoration: none;
    color: var(--link-color);
}

.profile-page li {
    color: var(--list-color);
}

p.page-count {
    position: absolute;
    bottom: 30px;
    right: 30px;

    font-size: 8px;
    color: var(--page-count-color);
}

section.personal-topcs {
    margin-bottom: 20px;
}

section.personal-topcs:last-child {
    margin-bottom: 0px;
}

h2.profile-subtitles {
    padding: 10px 10px;
    margin-bottom: 20px;

    color: var(--list-color);
    font-size: 15px;

    border-radius: 5px;
    background-color: var(--subtitles-background-color);
    transition: border-radius 0.5s ease;
}

ul.normal-list {
    list-style: none;
    padding: 0 10px;
}

li.normal-line {
    margin-bottom: 5px;
    transition: margin-left 0.5s ease;
}

li.normal-line,
li.simple-line {
    font-size: 13px;
    font-weight: 400;
}

/* ----------------------------------------- Primeira pagina ------------------------------------------------ */

/* profile-header */

#profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#profile-header figure {
    position: relative;
    display: flex;
}

#image-link {
    user-select: none;
    overflow: hidden;

    position: relative;
    width: 130px;
    height: 130px;

    border-radius: 50%;
}

#image-link #photo-help {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 130px;
    height: 130px;

    text-align: center;
    color: var(--img-font-color);
    background-color: var(--img-background-color);

    transition: opacity 0.5s ease;
}

#profile-header img {
    user-select: none;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

#profile-header figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
    /* width: calc(100% - 140px); */
    margin-left: 15px;
}

#profile-header figcaption>h1 {
    margin-bottom: 10px;

    font-size: 20px;
    color: var(--list-color);
}

#profile-header figcaption>p {
    color: var(--list-color);
    font-size: 15px;
    font-weight: 300;
}

/* personal-informations */

#personal-informations ul {
    list-style: none;
    margin-bottom: 20px;
}

#personal-informations ul:last-child {
    margin-bottom: 0px;
}

/* personal-habilits */

ul#habilits-info {
    list-style: circle inside;
}

/* personal-formations */

ul#first-formation {
    transition: border-left 0.5s ease-out padding-left 0.5s ease-out;
}


/* ----------------------------------------- Segunda pagina ------------------------------------------------ */

/* personal-experiences */

.profile-page h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

span.line-experience {
    display: flex;
    width: 80px;
    height: 2px;

    margin-top: 30px;

    background-color: var(--list-color);
}

.experience * {
    transition: margin-left 0.3s ease;
}

.experience p:nth-child(4) {
    margin-top: 10px;
}



#personal-experience-list li,
#personal-courses li {
    margin-bottom: 30px;
}

#personal-experience-list li:last-child,
#personal-courses li:last-child {
    margin-bottom: 0px;
}

#personal-courses h3 {
    text-decoration: underline;
}

/* ----------------------------------------- Terceira pagina ------------------------------------------------ */

#personal-knowledge>h2 {
    text-align: center;
}

#personal-knowledge #personal-knowledge-list {
    display: flex;
}

#personal-knowledge ul.knowledge-list {
    padding: 20px 40px;
    margin: 0 10px;
    margin-bottom: 20px;
    min-height: 300px;

    list-style: circle;
    background-color: var(--square-color);
}


ul.knowledge-list h3 {
    text-align: center;
    text-transform: uppercase;
}